h1{
    color: blue}
.header{
    background-color: orange  ;
display:flex ;
justify-content : space-between;

background-image: "lol.jpg";
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: 
    space-between;
    padding: 15px;
    
}
.BG{
    position: relative;

}
.BG p{
    position:absolute;
    top:10% ;
    left: 50%;
    transform: translate(-50%,-50%);
    color: snow;
} 

body{
    background-color:lightblue;
    font:bold ;
    margin: 25px;
}
.rows {
    display: flex;
    flex-direction:rows;
    flex-basis: 100%;
    flex: 1;
  }
  *{
      border: solid;
  }
  .lol1{
      margin: 20px;

  }
  .lol1:hover{
      transform:scale(1.2)
  }
  .lol2{
    margin: 20px;
}
.lol2:hover{
    transform:scale(1.2)
}
.lol3{
    margin: 20px;
    background: #ffffff;;
}
.lol3:hover{
    transform:scale(1.2)
}
a:link{
    color: green;
}
 a:visited{
    color:tomato;
}


